
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LyniconEmptyUrl</title>
</head>
<body>
    <div>
        No page exists at this URL.  Enter data and save to create one.
    </div>
</body>
</html>
