@model EquipmentContent
@using LyniconANC.Release.Models

<div class="spacer" style="height:100px;">

</div>

<div>
    <h1>@Model.Title</h1>
    <img class="tile-image" src="@Model.Image.Url" alt="@Model.Image.Alt" />
    @Model.Description
</div>
    
