@{
    Layout = "~/Areas/Lynicon/Views/Shared/EditorLayout.cshtml";
    ViewBag._Lyn_Title = "Editor";
    ViewBag._Lyn_BaseUrl = (string)Url.Action(ViewBag.OriginalAction, ViewBag.OriginalController, new { area = ViewBag.OriginalArea });
}

@section Head {
    <script type="text/javascript">
        if (location.href.indexOf('$top') < 0)
            location.href = ensureKeyValue(ensureKeyValue(location.href, '$top', '15'), '$orderby', 'Title');
    </script>
    <style type="text/css">
        .ui-selected td { background-color: #c2e3fa; }
        td { cursor: pointer; }
        #list { height: 100%; width: 45%; float: left; font-size: 14px; }
        #bar { height: 20%; width: 10%; float: left; margin-top: 180px; text-align: center; }
        #items { height: 100%; width: 45%; float: left; }
        #items-list { height: 78%; width: 98%; margin-top: 1%;}
        .fa { display: block; margin-top: 10px; cursor: pointer; }
        .fa:hover { opacity: 0.6; }
        #functions { height: 19%; width: 98%; margin-top: 1%; }
    </style>
}

<div id="filters" style="height: 20%; width: 100%">
    <div class="filter-unit">
        <label>Title</label>
        <input type="text" name="Title" />
    </div>
</div>
<div id='container' style="height: 80%; width: 100%; position:relative;">
    <div id="list">
        @Html.Partial((string)ViewContext.RouteData.Values["listView"], (object)Model)
    </div>
    <div id="bar" >
        <i id="move-left" class="fa fa-chevron-left fa-2x"></i>
        <i id="move-right" class="fa fa-chevron-right fa-2x"></i>
        <i id="clear" class="fa fa-trash-o fa-2x"></i>
    </div>
    <div id="items">
        <select id="items-list" multiple></select>
        <div id="functions">
            @Html.Action((string)ViewContext.RouteData.Values["functionAction"],
                     (string)ViewContext.RouteData.Values["functionController"],
                     new { area = (string)ViewContext.RouteData.Values["functionArea"] ?? "" })
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function getIds() {
            var ids = [];
            $("#items-list option").each(function () { ids.push($(this).prop('id')) });
            return ids;
        }

        function clear() {
            $('#items-list option').remove();
            listChanged();
        }

        function addItem(id, fields) {
            $('#items-list').append($("<option id='" + id + "' value='" + id + "'>" + fields.join(' - ') + "</option>"));
        }

        function listChanged() {
            localStorage['lyn-items-list'] = $('#items-list').html();
        }

        if (localStorage['lyn-items-list']) {
            $('#items-list').html(localStorage['lyn-items-list']);
        }
        $('tbody').selectable({ filter: ':not(td)' });
        $('#move-right').click(function () {
            $('.list-table .ui-selected').each(function () {
                var id = $(this).prop('id').substr(2);
                var optId = id;
                var val = [];
                $(this).children('td').each(function () { val.push($(this).text()); });
                if (!$('#' + optId).length) {
                    addItem(optId, val);
                }
            });
            listChanged();
        });
        $('#move-left').click(function () {
            $('#items-list option:selected').remove();
            listChanged();
        });
        $('#clear').click(function () {
            clear();
        })
    </script>
}
