@model Lynicon.Test.Models.TestContent
@{ 
    ViewData["Title"] = "Test";
}

<div style="margin-top: 100px">
    <h1>@Model.Title</h1>

    <h2>Headers</h2>
    @foreach (var hdr in Model.Hdrs)
    {
        <div>@hdr.Title</div>
    }
</div>
