@model GBC.Core.Models.EditorButton

@if (Lynicon.Membership.SecurityManager.Current.User.Roles.Contains(Model.UserRoles))
{
    var guid = Guid.NewGuid();
    var btnId = guid + "modalBtn";

    <button id="@btnId">
        @Model.Text
    </button>

    <script>
        $('#@btnId').click(function (event) {
            event.preventDefault();
            @Html.Raw(Model.ScriptToRun)
        });
    </script>
}