@model object
@{
    string modelValue = ViewData.TemplateInfo.FormattedModelValue.ToString();
}

<span class="text-display number-display">@(string.IsNullOrEmpty(modelValue) ? "---" : modelValue)</span>
@Html.TextBox("", modelValue, ViewData.ModelMetadata.IsReadOnly ?
(object)new { @class = "text-box number-box single-line " + ViewData["classes"], @readonly = true } :
(object)new { @class = "text-box number-box single-line " + ViewData["classes"] })
