@model object
@using Lynicon.Models
@using Lynicon.Utility
@Html.RegisterLocalStyles("passwordChanger", @"
.password-changer { background-color: #bbb; border: none; padding-top: 11px; width: 87%; }
")
<fieldset class="password-changer">
    <input type="text" class="password-with-encryption" />
    <div class="field-process-button encrypt-button">CHANGE PASSWORD</div>
</fieldset>
@Html.RegisterScript("passwordChanger", @"javascript:
    $(document).ready(function () {
        $('#editPanelContainer').on('click', '.encrypt-button', function () {
            var $pw = $(this).parent().find('.password-with-encryption');
            var id = $('#modelId').val();
            $.post('/lynicon/login/changepassword', { userId: id, newPw: $pw.val() }, function (d) {
                if (d != 'OK')
                    alert(d);
                else
                    alert('Password changed successfully');
            });
        });
    });
    ", new List<string>{ "jquery" })
