@model object
@using Lynicon.Models
@using Lynicon.Utility
@Html.RegisterLocalStyles("passwordChanger", @"
.password-changer { background-color: #bbb; border: none; padding-top: 11px; width: 87%; }
")
<fieldset class="password-changer">
    @Html.TextBox("", "", (object)new { @class = "password-with-encryption " + ViewData["classes"] })
    <div class="field-process-button encrypt-button">ENCRYPT</div>
</fieldset>
@Html.RegisterScript("passwordEncrypter", @"javascript:
    $(document).ready(function () {
        $('#editPanelContainer').on('click', '.encrypt-button', function () {
            var $pw = $(this).parent().find('.password-with-encryption');
            var id = $('#modelId').val();
            var data = $(this).closest('form').serialize();
            //data = 'user.' + data.replace(/&/g, '&user.');
            $.post('/lynicon/login/encryptpassword', data, function (d) {
                $pw.val(d);
            });
        });
    });
    ", new List<string>{ "jquery" })
