@model System.Collections.Generic.List<Lynicon.Membership.User>
@using System.Reflection
@{
    int index = (int)ViewData["ItemIndex"];
}
<table class="list-table user-list-table">
    <tr>
        @foreach (var fld in (List<string>)ViewBag.ListFields)
        {
        <th>@Html.Label(fld)</th>
        }
    </tr>
    @{
        int i = 0;
    }
    @foreach (var u in Model)
    {
    <tr id="u-@(i++)" class="@(i - 1 == index ? "selected" : "")">
        @foreach (var fld in (List<string>)ViewBag.ListFields)
        {
            <td>@u.GetType().GetProperty(fld).GetValue(u)</td>
        }
    </tr>
    }
</table>
@Html.Partial("FilterPanel", new Dictionary<string, List<string>> { { "Filter", new List<string> { "UserName", "Email" } } }, new ViewDataDictionary(ViewData) { { "caseSensitive", true } })
