@{
    ViewData["Title"] = "Home Page";
}

<div class="spacer" style="height:100px;">

</div>

<h1>Lynicon CMS Test Site</h1>

<ul>
    <li>Find the full documentation <a href="https://lynicon.atlassian.net/wiki/spaces/LAC/pages/42795015/Overview">here</a></li>
    <li>Find the website <a href="http://www.lynicon.com">here</a></li>
    <li>Find the nuget packages <a href="nuget.org/packages?q=lynicon">here</a></li>
    <li>Find the module package for full CMS capability together with service agreement <a href="http://www.lynicon.com/lynicon-base">here</a></li>
</ul>
