@model CommonContent
@using LyniconANC.Release.Models

<div class="spacer" style="height:100px;">

</div>

<h1>Common Site Elements</h1>
<h2>Logo</h2>
<img alt="@Model.Shared.Logo.Alt" src="@Model.Shared.Logo.Url" />

    
