/* image frame positioning */
.pane {
  position: absolute;
  height: 96%; }

.pos0t {
  top: -12.75%;
  right: -9%;
  transform: scale(0.39) scaleY(0.6) rotate(45deg); }

.pos0r {
  top: 10.25%;
  right: -18.5%;
  transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg); }

.pos0l {
  top: 10.25%;
  right: 0%;
  transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg); }

.pos1t {
  top: 3%;
  right: 9.5%;
  transform: scale(0.39) scaleY(0.6) rotate(45deg);
  z-index: 5; }

.pos1r {
  top: 26%;
  right: 0%;
  transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
  z-index: 5; }

.pos1l {
  top: 26%;
  right: 18.5%;
  transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
  z-index: 5; }

.pos1b {
  top: 34.5%;
  right: 9.5%;
  transform: scale(0.39) scaleY(0.6) rotate(45deg);
  z-index: -3; }

.pos2t {
  top: -12.75%;
  right: 28%;
  transform: scale(0.39) scaleY(0.6) rotate(45deg);
  z-index: 3; }

.pos2r {
  top: 10.25%;
  right: 18.5%;
  transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
  z-index: -1; }

.pos2l {
  top: 10.25%;
  right: 37%;
  transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
  z-index: 3; }

.pos2b {
  top: 18.75%;
  right: 28%;
  transform: scale(0.39) scaleY(0.6) rotate(45deg);
  z-index: -3; }

.pos3t {
  top: -28.5%;
  right: 46.5%;
  transform: scale(0.39) scaleY(0.6) rotate(45deg);
  z-index: 1; }

.pos3r {
  top: -5.5%;
  right: 37%;
  transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
  z-index: -1; }

.pos3l {
  top: -5.5%;
  right: 55.5%;
  transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
  z-index: 1; }

.pos3b {
  top: 3%;
  right: 46.5%;
  transform: scale(0.39) scaleY(0.6) rotate(45deg);
  z-index: -3; }

.anim0r-1r {
  animation: 1s key0r-1r forwards;
  animation-delay: 2s; }

@keyframes key0r-1r {
  from {
    top: 10.25%;
    right: -18.5%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg); }
  to {
    top: 26%;
    right: 0%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 5; } }

.anim0l-2r {
  animation: 1s key0l-2r forwards;
  animation-delay: 2s; }

@keyframes key0l-2r {
  from {
    top: 10.25%;
    right: 0%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg); }
  to {
    top: 10.25%;
    right: 18.5%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -1; } }

.anim0t-1l {
  animation: 1s key0t-1l forwards;
  animation-delay: 2s; }

@keyframes key0t-1l {
  0% {
    top: -12.75%;
    right: -9%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg); }
  50% {
    top: 3%;
    right: 9.5%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 5;
    animation-timing-function: ease-out; }
  100% {
    top: 26%;
    right: 18.5%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    z-index: 5;
    animation-timing-function: ease-in; } }

.anim1l-3l {
  animation: 1s key1l-3l forwards;
  animation-delay: 2s; }

@keyframes key1l-3l {
  0% {
    top: 26%;
    right: 18.5%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    z-index: 5; }
  50% {
    top: 10.25%;
    right: 37%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    z-index: 3;
    animation-timing-function: ease-out; }
  100% {
    top: -5.5%;
    right: 55.5%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    z-index: 1;
    animation-timing-function: ease-in; } }

.anim1r-2l {
  animation: 1s key1r-2l forwards;
  animation-delay: 2s; }

@keyframes key1r-2l {
  0% {
    top: 26%;
    right: 0%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 5; }
  50% {
    top: 26%;
    right: 18.5%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    z-index: 5;
    animation-timing-function: ease-out; }
  100% {
    top: 10.25%;
    right: 37%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    z-index: 3;
    animation-timing-function: ease-in; } }

.anim0t-1r {
  animation: 1s key0t-1r forwards;
  animation-delay: 2s; }

@keyframes key0t-1r {
  0% {
    top: -12.75%;
    right: -9%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg); }
  50% {
    top: 3%;
    right: 9.5%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 5;
    animation-timing-function: ease-out; }
  100% {
    top: 26%;
    right: 0%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 5;
    animation-timing-function: ease-in; } }

.anim2r-4r {
  animation: 1s key2r-4r forwards;
  animation-delay: 2s; }

@keyframes key2r-4r {
  0% {
    top: 10.25%;
    right: 18.5%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -1; }
  50% {
    top: -5.5%;
    right: 37%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -1;
    animation-timing-function: ease-out; }
  100% {
    top: -21.25%;
    right: 55.5%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -1;
    animation-timing-function: ease-in; } }

.anim1r-3r {
  animation: 1s key1r-3r forwards;
  animation-delay: 2s; }

@keyframes key1r-3r {
  0% {
    top: 26%;
    right: 0%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 5; }
  50% {
    top: 10.25%;
    right: 18.5%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -1;
    animation-timing-function: ease-out; }
  100% {
    top: -5.5%;
    right: 37%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -1;
    animation-timing-function: ease-in; } }

.anim0t-1b {
  animation: 1s key0t-1b forwards;
  animation-delay: 2s; }

@keyframes key0t-1b {
  0% {
    top: -12.75%;
    right: -9%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg); }
  50% {
    top: 10.25%;
    right: 0%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    animation-timing-function: ease-out; }
  100% {
    top: 34.5%;
    right: 9.5%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -3;
    animation-timing-function: ease-in; } }

.anim0r-1t {
  animation: 1s key0r-1t forwards;
  animation-delay: 2s; }

@keyframes key0r-1t {
  0% {
    top: 10.25%;
    right: -18.5%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg); }
  50% {
    top: 26%;
    right: 0%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 5;
    animation-timing-function: ease-out; }
  100% {
    top: 3%;
    right: 9.5%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 5;
    animation-timing-function: ease-in; } }

.anim1b-3l {
  animation: 1s key1b-3l forwards;
  animation-delay: 2s; }

@keyframes key1b-3l {
  0% {
    top: 34.5%;
    right: 9.5%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -3; }
  50% {
    top: 3%;
    right: 46.5%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -3;
    animation-timing-function: ease-out; }
  100% {
    top: -5.5%;
    right: 55.5%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    z-index: 1;
    animation-timing-function: ease-in; } }

.anim1t-2l {
  animation: 1s key1t-2l forwards;
  animation-delay: 2s; }

@keyframes key1t-2l {
  0% {
    top: 3%;
    right: 9.5%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 5; }
  50% {
    top: -12.75%;
    right: 28%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 3;
    animation-timing-function: ease-out; }
  100% {
    top: 10.25%;
    right: 37%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    z-index: 3;
    animation-timing-function: ease-in; } }

.anim0t-2t {
  animation: 1s key0t-2t forwards;
  animation-delay: 2s; }

@keyframes key0t-2t {
  0% {
    top: -12.75%;
    right: -9%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg); }
  50% {
    top: 3%;
    right: 9.5%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 5;
    animation-timing-function: ease-out; }
  100% {
    top: -12.75%;
    right: 28%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 3;
    animation-timing-function: ease-in; } }

.anim0r-2r {
  animation: 1s key0r-2r forwards;
  animation-delay: 2s; }

@keyframes key0r-2r {
  0% {
    top: 10.25%;
    right: -18.5%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg); }
  50% {
    top: 10.25%;
    right: 0%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    animation-timing-function: ease-out; }
  100% {
    top: 10.25%;
    right: 18.5%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -1;
    animation-timing-function: ease-in; } }

.anim2t-3l {
  animation: 1s key2t-3l forwards;
  animation-delay: 2s; }

@keyframes key2t-3l {
  0% {
    top: -12.75%;
    right: 28%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 3; }
  50% {
    top: -28.5%;
    right: 46.5%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 1;
    animation-timing-function: ease-out; }
  100% {
    top: -5.5%;
    right: 55.5%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    z-index: 1;
    animation-timing-function: ease-in; } }

.anim2r-3t {
  animation: 1s key2r-3t forwards;
  animation-delay: 2s; }

@keyframes key2r-3t {
  0% {
    top: 10.25%;
    right: 18.5%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -1; }
  50% {
    top: -12.75%;
    right: 28%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 3;
    animation-timing-function: ease-out; }
  100% {
    top: -28.5%;
    right: 46.5%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 1;
    animation-timing-function: ease-in; } }

.anim0l-2l {
  animation: 1s key0l-2l forwards;
  animation-delay: 2s; }

@keyframes key0l-2l {
  0% {
    top: 10.25%;
    right: 0%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg); }
  50% {
    top: 10.25%;
    right: 18.5%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -1;
    animation-timing-function: ease-out; }
  100% {
    top: 10.25%;
    right: 37%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    z-index: 3;
    animation-timing-function: ease-in; } }

.anim2l-4r {
  animation: 1s key2l-4r forwards;
  animation-delay: 2s; }

@keyframes key2l-4r {
  0% {
    top: 10.25%;
    right: 37%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    z-index: 3; }
  50% {
    top: -5.5%;
    right: 55.5%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    z-index: 1;
    animation-timing-function: ease-out; }
  100% {
    top: -21.25%;
    right: 55.5%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -1;
    animation-timing-function: ease-in; } }

.anim1b-3b {
  animation: 1s key1b-3b forwards;
  animation-delay: 2s; }

@keyframes key1b-3b {
  0% {
    top: 34.5%;
    right: 9.5%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -3; }
  50% {
    top: 18.75%;
    right: 28%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -3;
    animation-timing-function: ease-out; }
  100% {
    top: 3%;
    right: 46.5%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -3;
    animation-timing-function: ease-in; } }

.anim1l-3r {
  animation: 1s key1l-3r forwards;
  animation-delay: 2s; }

@keyframes key1l-3r {
  0% {
    top: 26%;
    right: 18.5%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    z-index: 5; }
  50% {
    top: 10.25%;
    right: 37%;
    transform: rotate(60deg) scale(0.39) scaleY(0.6) rotate(-45deg);
    z-index: 3;
    animation-timing-function: ease-out; }
  100% {
    top: -5.5%;
    right: 37%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -1;
    animation-timing-function: ease-in; } }

.anim1r-2r {
  animation: 1s key1r-2r forwards;
  animation-delay: 2s; }

@keyframes key1r-2r {
  0% {
    top: 26%;
    right: 0%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 5; }
  50% {
    top: 3%;
    right: 9.5%;
    transform: scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: 5;
    animation-timing-function: ease-out; }
  100% {
    top: 10.25%;
    right: 18.5%;
    transform: rotate(-60deg) scale(0.39) scaleY(0.6) rotate(45deg);
    z-index: -1;
    animation-timing-function: ease-in; } }

.orange-fill-80 {
  background-color: #ffd000;
  animation: key-pulse-fill-80 1s ease-in;
  opacity: 0.8; }

@keyframes key-pulse-fill-80 {
  0% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0.8; } }

.orange-fill-60 {
  background-color: #ffd000;
  animation: key-pulse-fill-60 1s ease-in;
  opacity: 0.6; }

@keyframes key-pulse-fill-60 {
  0% {
    opacity: 0; }
  80% {
    opacity: 0.75; }
  100% {
    opacity: 0.6; } }

.orange-fill-40 {
  background-color: #ffd000;
  animation: key-pulse-fill-40 1s ease-in;
  opacity: 0.4; }

@keyframes key-pulse-fill-40 {
  0% {
    opacity: 0; }
  80% {
    opacity: 0.5; }
  100% {
    opacity: 0.4; } }

.orange-fill-20 {
  background-color: #ffd000;
  animation: key-pulse-fill-20 1s ease-in;
  opacity: 0.2; }

@keyframes key-pulse-fill-20 {
  0% {
    opacity: 0; }
  80% {
    opacity: 0.25; }
  100% {
    opacity: 0.2; } }
