/* (01) Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

* {
  -webkit-font-smoothing: antialiased; }

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #b4b3b7;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  overflow: hidden; }

a {
  text-decoration: none;
  color: #ffd000; }

a:hover {
  text-decoration: underline; }

p {
  margin: 0 0 1.4em 0; }

strong {
  font-weight: bold; }

header {
  background-color: #596668;
  padding: 2vh 2vw;
  width: 100%;
  box-sizing: border-box;
  line-height: 0;
  /* otherwise has line spacing at bottom */ }

h2 {
  font-size: 1.2em;
  margin-bottom: 1.5em; }

#menu {
  float: right;
  width: 64vw;
  height: 8.36317vw;
  font-size: 1.5vw;
  max-height: 14vh;
  line-height: 1.5em; }
  #menu .menu-column {
    float: right;
    width: 24vw;
    height: 8.36317vw;
    max-height: 14vh;
    margin-right: -4.5vw;
    line-height: 1.4em;
    position: relative; }
  #menu .menu-column:first-child {
    margin-right: 0;
    z-index: 2; }
  #menu .menu-column:nth-child(2) {
    z-index: 1; }
  #menu .menu-column:nth-child(3) {
    z-index: 0; }
  #menu .menu-shape {
    height: 8.36317vw;
    width: 14.48501vw;
    float: left;
    -webkit-shape-outside: polygon(0 0, 100% 100%, 0% 100%);
    shape-outside: polygon(0 0, 100% 100%, 0% 100%);
    /* gives a 60deg angle */
    shape-margin: 0.5em;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line x1="0" y1="0" x2="100%" y2="100%" stroke="#ffd000" stroke-width="4" stroke-linecap="round"/></svg>'); }
  #menu .current-submenu {
    color: #fff;
    text-decoration: underline; }
  #menu .current-submenu-link {
    color: #eee; }

.logo {
  /* logo aspect ratio is preserved at 391/109 = 3.62 (= lar) */
  width: 30vw;
  max-width: 50.22018vh; }

#lower {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  position: relative;
  height: calc(96vh - 8.36317vw); }

#background {
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  border-style: solid;
  border-width: 57.73672vw 100vw 0 0;
  border-color: transparent;
  transition: all ease 1s; }

#image-area {
  float: left;
  width: 40vw; }
  #image-area #image-area-extender {
    float: left;
    width: 127.13vh;
    max-width: 70vw; }
    #image-area #image-area-extender #image-container {
      height: 47.35vw;
      width: 69.99565vw;
      /*
            width: 127.13vh;
            max-width: 70vw;
                */
      position: relative;
      float: right;
      transition: all ease 1s; }
      #image-area #image-area-extender #image-container .frame {
        height: 47.35vw;
        float: right;
        transition: all ease 1s; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 90; }

#text-panel {
  float: right;
  width: 45vw;
  /*allow for scrollbar*/
  height: 82vh;
  transition: all ease 1s; }

#text-container {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
  color: #fff;
  box-sizing: border-box;
  padding: 2vh 2vw; }

#shape-top {
  -webkit-shape-outside: polygon(0 0, 86.6% 10vw, 86.6% 100%, 0% 100%);
  shape-outside: polygon(0 0, 86.6% 10vw, 86.6% 100%, 0% 100%);
  float: left;
  height: 100%;
  width: 20vw;
  transition: all ease 1s; }

#columns {
  display: none; }

.text-heavy #background {
  display: block;
  border-top-color: #c8c7ca; }

.text-heavy.blog-page #background {
  border-top-color: #d8d7da; }

.text-heavy #image-container {
  height: 60vh;
  width: 97.8vh; }

.text-heavy .frame {
  height: 60vh; }

.text-heavy #shape-top {
  width: 0; }

.text-heavy #text-panel {
  height: 60vh;
  max-height: 31.9vw; }

.text-heavy #columns {
  display: block;
  float: left;
  margin-top: 2em;
  width: 100%; }
  .text-heavy #columns .lower-col {
    float: left;
    box-sizing: border-box;
    padding: 2vh 2vw; }
  .text-heavy #columns #left-col {
    width: 52vw; }
  .text-heavy #columns #right-col {
    float: right;
    width: 45vw;
    color: #fff; }

.blog-page #image-area {
  width: auto;
  margin-right: 3vw;
  margin-bottom: 3vh; }

.blog-page #text-panel {
  float: none;
  width: auto; }

.blog-page #text-container {
  float: none;
  color: #596668; }

#slack-email {
  padding: 4px;
  background-color: #eee;
  border: 1px solid #777;
  margin-top: 2px; }

#send-email {
  padding: 4px;
  background-color: #596668;
  border: none;
  color: #fff;
  cursor: pointer; }
  #send-email:hover {
    background-color: #000; }

h3 {
  font-size: 1.1em; }

.subhead {
  margin-top: -1.5em;
  margin-bottom: 1.5em; }

.blog-item h3 a {
  font-size: 1.1em;
  color: #fff;
  line-height: 1.1em; }

.blog-item .subhead {
  margin-top: 0; }

.blog-item .abstract {
  border-bottom: solid 4px #596668;
  margin-bottom: 1.4em; }

@media (min-aspect-ratio: 160 / 100) {
  #menu {
    font-size: 2.4vh;
    /* #menu { font-size } * 160 / 100 */ }
    #menu .menu-shape {
      height: 14vh;
      width: 24.248vh; }
  #lower {
    height: 82vh; }
  #image-area #image-area-extender #image-container {
    height: 78vh;
    width: 115.30435vh; }
    #image-area #image-area-extender #image-container .frame {
      height: 78vh; }
  .text-heavy #image-area #image-area-extender {
    width: 50vw; }
    .text-heavy #image-area #image-area-extender #image-container {
      height: 32vw;
      width: 47.30435vw; }
      .text-heavy #image-area #image-area-extender #image-container .frame {
        height: 32vw; } }

@media (max-width: 600px), (max-aspect-ratio: 3 / 4) {
  header {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    text-align: center; }
  #logo-container {
    display: block; }
    #logo-container .logo {
      display: block;
      margin: 0 auto;
      width: 45vw; }
  #menu {
    font-size: 2.5vw;
    float: none;
    height: 17vw;
    width: auto;
    margin-top: 1.5vh;
    display: inline-block;
    text-align: left;
    max-height: none; }
    #menu .menu-column {
      width: 37vw;
      height: 17vw;
      margin-right: -9vw; }
    #menu .menu-shape {
      height: 17vw;
      width: 29.444vw; }
  #image-area {
    width: 100%;
    float: none; }
    #image-area #image-area-extender {
      width: 90%;
      max-width: none;
      float: none;
      margin: 0 auto; }
      #image-area #image-area-extender #image-container {
        height: 33vh;
        max-height: none;
        width: 48.78261vh;
        float: none;
        margin: 0 auto; }
        #image-area #image-area-extender #image-container .frame {
          height: 33vh;
          max-height: none; }
  #text-panel {
    float: none;
    width: 100%;
    height: calc(62.5vh - 8.36317vw); }
  #shape-top {
    -webkit-shape-outside: polygon(0 0, 100% 0, 100% 100%);
    shape-outside: polygon(0 0, 100% 0, 100% 100%);
    float: right;
    height: 31.8vw;
    width: 55vw; }
  #body-text {
    text-align: justify; }
  .text-heavy #shape-top {
    display: none; }
  .text-heavy #text-panel {
    height: auto; }
    .text-heavy #text-panel #text-container {
      height: auto; }
  .text-heavy #columns {
    margin-top: 0; }
    .text-heavy #columns #left-col, .text-heavy #columns #right-col {
      width: 100%; }
  .blog-page #text-panel {
    float: right; } }

.noShapes #shape-top {
  width: 0; }

.noShapes #menu .menu-shape {
  display: none; }
