$orange: #ffd000;
$ltgrey: #b4b3b7;
$dkgrey: #596668;
$vltgrey: #c8c7ca;
$xltgrey: #d8d7da;
$textwhite: #fff;

$logoar: 391/109; // logo aspect ratio
$framear: 170/115; // frame aspect ratio
$tan60: 1.732;
$maxheaderht: 18vh;
$logowidth: 0.3;
$logowidthport: 0.4;
$headervpadding: 2vh;
$headerhpadding: 2vw;
$headerinnerht: $logowidth / $logoar * 100vw;

/* (01) Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}

*{
    -webkit-font-smoothing:antialiased;
}

html {
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: $ltgrey;
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: $orange;
}
a:hover {
    text-decoration: underline;
}

p {
    margin: 0 0 1.4em 0;
}

strong {
    font-weight: bold;
}

header {
    background-color: $dkgrey;
    padding: $headervpadding $headerhpadding;
    width: 100%;
    box-sizing: border-box;
    line-height: 0; /* otherwise has line spacing at bottom */
}

h2 {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

$menumaxht: $maxheaderht - $headervpadding * 2;
$menucolwidth: 24vw;
$menuoverlap: -4.5vw;

#menu {
    float: right;
    width: $menucolwidth * 3 + $menuoverlap * 2 + 1vw;
    height: $headerinnerht;
    font-size: 1.5vw;
    max-height: $menumaxht;
    line-height: 1.5em;

    .menu-column {
        float: right;
        width: $menucolwidth;
        height: $headerinnerht;
        max-height: $menumaxht;
        margin-right: $menuoverlap;
        line-height: 1.4em;
        position: relative;
    }
    .menu-column:first-child {
        margin-right: 0;
        z-index: 2;
    }
    .menu-column:nth-child(2) {
        z-index: 1;
    }
    .menu-column:nth-child(3) {
        z-index: 0;
    }
    .menu-shape {
        height: $headerinnerht;
        width: $headerinnerht * $tan60;
        float: left;
        -webkit-shape-outside: polygon(0 0, 100% 100%, 0% 100%);
        shape-outside: polygon(0 0, 100% 100%, 0% 100%); /* gives a 60deg angle */
        shape-margin: 0.5em;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line x1="0" y1="0" x2="100%" y2="100%" stroke="#ffd000" stroke-width="4" stroke-linecap="round"/></svg>');
    }
    .current-submenu {
        color: $textwhite;
        text-decoration: underline;
    }
    .current-submenu-link {
        color: #eee;
    }
}

.logo { /* logo aspect ratio is preserved at 391/109 = 3.62 (= lar) */
    width: $logowidth * 100vw;
    max-width: ($maxheaderht - 2 * $headervpadding) * $logoar;
}

#lower {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    position: relative;
    height: calc(#{100vh - 2 * $headervpadding} - #{$headerinnerht})
}

#background {
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    left:0;
    top:0;
    z-index: -10;
    border-style: solid;
    border-width: 100vw/$tan60 100vw 0 0;
    border-color: transparent;
    transition: all ease 1s;
}

$imageht: 47.35vw;
#image-area {
    float: left;
    width: 40vw;
    #image-area-extender {
        float: left;
                    width: 127.13vh;
            max-width: 70vw;

        #image-container {
            height: $imageht;
            width: $framear * $imageht;
            /*
            width: 127.13vh;
            max-width: 70vw;
                */
            position: relative;
            float:right;
            transition: all ease 1s;

            .frame {
                height: $imageht;
                float: right;
                transition: all ease 1s;
            }
        }
    }
}

.overlay {
    position:absolute;
    top:0;
    right: 0;
    z-index: 90;
}

#text-panel {
    float: right;
    width: 45vw; /*allow for scrollbar*/ 
    height: 100vh - $maxheaderht;
    transition: all ease 1s;
}
#text-container {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
    color: #fff;
    box-sizing: border-box;
    padding: $headervpadding $headerhpadding;
}
#shape-top {
    -webkit-shape-outside: polygon(0 0,86.6% 10vw,86.6% 100%, 0% 100%);
    shape-outside: polygon(0 0,86.6% 10vw,86.6% 100%, 0% 100%);
    float: left;
    height: 100%;
    width: 20vw;
    transition: all ease 1s;
}
#columns {
    display: none;
}

.text-heavy {
    #background {
        display: block;
        border-top-color: $vltgrey;
    }

    &.blog-page #background {
        border-top-color: $xltgrey;
    }

    #image-container {
        height: 60vh;
        //max-height: 31.9vw;
        width: 97.8vh;
        //max-width: 52vw;
    }
    .frame {
        height: 60vh;
        //max-height: 31.9vw;
    }
    #shape-top {
        width: 0;
    }
    #text-panel {
        height: 60vh;
        max-height: 31.9vw;
    }
    #columns {
        display: block;
        float: left;
        margin-top: 2em;
        width: 100%;

        .lower-col {
            float: left;
            box-sizing: border-box;
            padding: $headervpadding $headerhpadding;
        }

        #left-col {
            width: 52vw;
        }
        #right-col {
            float: right;
            width: 45vw;
            color: $textwhite;
        }
    }
}

.blog-page {
    #image-area {
        width: auto;
        margin-right: 3vw;
        margin-bottom: 3vh;
    }
    #text-panel {
        float: none;
        width: auto;
    }
    #text-container {
        float: none;
        color: $dkgrey;
    }
}

#slack-email {
    padding: 4px;
    background-color: #eee;
    border: 1px solid #777;
    margin-top: 2px;
}

#send-email {
    padding: 4px;
    background-color: $dkgrey;
    border: none;
    color: $textwhite;
    cursor: pointer;

    &:hover {
        background-color: #000;
    }
}

h3 {
    font-size: 1.1em;
}

.subhead {
    margin-top: -1.5em;
    margin-bottom: 1.5em;
}

.blog-item {
    h3 a {
        font-size: 1.1em;
        color: $textwhite;
        line-height: 1.1em;
    }

    .subhead {
        margin-top: 0;
    }

    .abstract {
        border-bottom: solid 4px $dkgrey;
        margin-bottom: 1.4em;
    }
}

@media (min-aspect-ratio: 160/100) /* width in terms of height at which maximum height of header is obtained */
{
    #menu {
        font-size: 2.4vh; /* #menu { font-size } * 160 / 100 */

        .menu-shape {
            height: $menumaxht;
            width: $menumaxht * 1.732;
        }
    }

    #lower {
        height: 100vh - $maxheaderht;
    }
    
    #image-area {
        #image-area-extender {
            #image-container {
                height: 78vh;
                width: $framear * 78vh;
                .frame {
                    height: 78vh;
                }
            }
        }
    }

    .text-heavy {
        #image-area {
            #image-area-extender {
                width: 50vw;
                #image-container {
                    height: 32vw;
                    width: $framear * 32vw;
                    .frame {
                        height: 32vw;
                    }
                }
            }
        }
    }

}

$imgmaxhttall: 33vh;
$tallmenuht: 17vw;

@media (max-width: 600px), (max-aspect-ratio: 3/4) {
    header {
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        text-align: center;
    }

    #logo-container {
        display: block;
        .logo {
            display: block;
            margin: 0 auto;
            width: 45vw;
        }
    }

    #menu {
        font-size: 2.5vw;
        float: none;
        height: $tallmenuht;
        width: auto;
        margin-top: 1.5vh;
        display: inline-block;
        text-align: left;
        max-height: none;

        .menu-column {
            width: 37vw;
            height: $tallmenuht;
            margin-right: -9vw;
        }

        .menu-shape {
            height: $tallmenuht;
            width: $tallmenuht * $tan60;
        }
    }


    #image-area {
        width: 100%;
        float: none;

        #image-area-extender {
            width: 90%;
            max-width: none;
            float: none;
            margin: 0 auto;

            #image-container {
                height: $imgmaxhttall;
                max-height: none;
                width: $imgmaxhttall * $framear;
                float: none;
                margin: 0 auto;
                .frame {
                    height: $imgmaxhttall;
                    max-height: none;
                }
            }
        }
    }


    #text-panel {
        float: none;
        width: 100%;
        height: calc(#{99.5vh - $imgmaxhttall - 2 * $headervpadding} - #{$headerinnerht});
    }
    #shape-top {
        -webkit-shape-outside: polygon(0 0, 100% 0, 100% 100%);
        shape-outside: polygon(0 0, 100% 0, 100% 100%);
        float: right;
        height: 31.8vw;
        width: 55vw;
    }
    #body-text {
        text-align: justify;
    }

    .text-heavy {
        #shape-top {
            display: none;
        }
        #text-panel {
            height: auto;

            #text-container {
                height: auto;
            }
        }

        #columns {
            margin-top: 0;

            #left-col, #right-col {
                width: 100%;
            }
        }
    }

    .blog-page {
        #text-panel {
            float: right;
        }
    }
}

.noShapes {
    #shape-top {
        width: 0;
    }
    #menu {
        .menu-shape {
            display:none;
        }
    }
}
